@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 999;
}

.modal__contacts {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px #666;
  width: 40%;
  font-family: 'ProximaNova', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
}

.pizza__center {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(116, 116, 116, 0.3);
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  // transform: translate(-50%, -50%);
  padding: 9px;
}

.contacts__header {
  margin-top: 18px;
  font-size: 30px;
  color: #181818; 
}

.contacts__text {
  font-size: 19px;
  margin-bottom: 30px;
  margin-top: 15px;
  color: #636363;
  font-weight: 500;
  line-height: 140%;
}

.contacts__contacts {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  min-width: 50%;
  margin-bottom: 30px;
}

.contact svg {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border-radius: 0%;
}

.contact h4 {
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color .2s;
  font-size: 18px;
  color: #181818;
}

.contact p {
  margin-top: 5px;
  padding: 0;
  color: #8D8D8D;
  font-size: 16px;
}

.contact h4:hover {
  color: #FE5F1E;
}

.modal__hidden {
  display: none;
}
.header__cart {
  display: flex;
  gap: 15px;
}
.button__contact {
  background-color: white !important;
  color: #181818 !important;
  font-size: 17px;
  font-weight: 600;
}
.button__contact:hover {
  color: #FE5F1E !important; 
}