* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button__aut {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
}

.login {
  /* overflow: hidden; */
  width: 100%;
  /* min-height: 1100px; */
  padding: 0 20px;
  background: #fcd7ae;
  /* background: url("N2.png") 100% 50%no-repeat; */
  background-size: cover;
  display: flex;
  
}

.login .loginContainer {
  border-radius: 25px;
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
  /* background: radial-gradient(
    ellipse at left bottom,
    rgb(255, 134, 63) 0%,
    rgba(219, 92, 53, 0.9) 100%,
    rgba(223, 93, 7, 0.9) 100%
  ); */
  box-shadow: 0 50px 90px -20px rgba(39, 39, 39, 0.8);
}

.login .loginContainer label {
  color: rgb(255, 255, 255);
  padding-top: 18px;
  margin: 15px 0;
  display: block;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(228, 222, 222, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.hero nav {
  background: #603bbb;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}